<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requests</title>
</head>
<body>
  <div class='request-container'>
    <h3>Requests i've made</h3>
    <ul>
      <li>
      Space 2
      </li>
      <li>
      Space 1
      </li>
    </ul>
  </div>
  <div class='received-container'>
    <h3>Requests i've received</h3>
    <ul>
      <li>
      <%= @space %>
      </li>
      <li>
      Space 1
      </li>
    </ul>
  </div>
</body>
</html>