<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("/styles.css")%>">
    <title> Sign in to MakersBnB </title>
</head>
<body>
      <h1> Sign in to MakersBnB </h1><br>

<h3>
  <%= flash[:notice] %>
</h3>

<form action="/sessions" method="post" >
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Confirm"/>
</form>

</body>
