
<h1>Make it a MakersBnB</h1>
<div>
  <h3>
    <%= flash[:notice] %>
  </h3>
</div>

<body>
  <form action="/sessions/new" method="get">
    <input class="sign_in" type="submit" value="Sign in" />
  </form>
  <form action="/users" method="post">
    <label for="email">Email</label>
    <input type="email" name='email' placeholder='Email' id='email' />
    <label for="password">Password</label>
    <input type="password" name='password' placeholder='Password' id='password' />
    <input type="submit" value="Sign up" />
  </form>
</body>
