<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%= url("/users.css")%>">
  </head>
  <body>
    <h1>Make it a MakersBnB</h1>
    <div>
      <h3>
        <%= flash[:notice] %>
      </h3>
    </div>

    <div class="sign_in_form">
    <form action="/sessions/new" method="get">
      <input class="sign_in" type="submit" value="Sign in" />
    </form>
    </div>
    <form action="/users" method="post">
      <label for="text">Username</label>
      <input type="text" name='username' placeholder='Username' id='username' />
      <label for="email">Email</label>
      <input type="email" name='email' placeholder='Email' id='email' />
      <label for="password">Password</label>
      <input type="password" name='password' placeholder='Password' id='password' />
      <input type="submit" value="Sign up" />
    </form>

  </body>
</html>
